@model ETicaret.DLL.Kategoriler

@{
    ViewBag.Title = "KategoriSil";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="content-wrapper">
        <div class="col-md-8 offset-2">
            <h3>Bu ürünü silmek istediğinize emin misiniz??</h3>
            <div style="background-color:antiquewhite">
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.KategoriAdi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KategoriAdi)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ParentKategoriID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ParentKategoriID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PersonelID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PersonelID)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="SSİL" class="btn btn-danger" /> <br />
                        @Html.ActionLink("Kategoriler Listesine dön", "KategoriIndex")
                    </div>
                }
                @Html.Raw(ViewBag.mesajSil)
            </div>

        </div>

      

    </div>
</div>
